@use "@/styles/mixins";

$bg-color: #fff8f9;
$title-text-color: #211a1d;
$desc-text-color: #211a1d;

.p-home_aboutus {
  padding-block: 40px !important ;
  background-color: $bg-color;

  &--wrap {
    @include mixins.breakpoint(lg) {
      width: 720px;
      margin-inline: auto;
    }

    h2 {
      color: $title-text-color;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      padding: 10px;

      @include mixins.breakpoint(md) {
        font-size: 28px;
        line-height: 36px;
      }

      @include mixins.breakpoint(lg) {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
      }
    }

    p {
      color: $desc-text-color;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.4px;
      padding: 10px;

      @include mixins.breakpoint(md) {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
      }

      @include mixins.breakpoint(lg) {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: center;
      }
    }
  }
}
